# SPDX-FileCopyrightText: 2026 Loc.ai Ltd.
# SPDX-License-Identifier: BUSL-1.1

# Sample .env file for ML Edge Device Agent
# Rename this file to .env and update the values

# API Server URL - This will be used if the agent.py is modified to read from .env
API_URL=""
API_PORT="8001" 

DEVICE_MODE="LOCAI" # LOCAL, CUSTOM